attr==0.3.2
attrs==21.4.0
beautifulsoup4==4.11.2
lxml==4.9.2
multimethod==1.9
numpy==1.23.4
pdf2image==1.16.3
pandas==1.5.2
streamlit==1.0.0
Pillow==9.4.0
PyPDF2==3.0.1
pytesseract==0.3.10
opencv-python-headless
rapidfuzz==2.13.6
requests==2.28.1
spellchecker==0.4
streamlit==1.15.2
uniseg==0.7.2